

.contactTitle {
  width: 100%;
  height: 150px;
    @media screen and (min-width: $brk-small) {
      height: 217px;
    }

    h1 {
      font-size: $font-larger;
      font-family: $font-two;
      color: $light-blue;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 57px;
      padding-top: 50px;
      margin: 0;
        @media screen and (min-width: $brk-small) {
          font-size: $font-largest;
          padding-top: 80px;
        }
    }
}

.locationMaps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

    .headquarters,
    .eastTexas {
      margin: 0 20px 0 20px;
      .info {
          @media screen and (min-width: $brk-small) {
            width: 460px;
          }
        font-family: $font-one;
        font-size: $font-small;
        line-height: 16px;
        width: 350px;
        height: 170px;
        background-color: $light-grey;
        text-align: left;
        padding: 11px 0 20px 20px;
        margin: 0 auto 80px auto;
      }

    h3 {
      color: $light-blue;
      font-weight: 400;
      margin-bottom: 5px;
      margin-top: 9px;
    }

    a,
    span {
      color: $dark-grey;
      text-decoration: none;
    }

  }

  h2 {
    font-size: $font-large;
    line-height: 28px;
    color: $red;
    text-transform: uppercase;
    font-weight: 400;
  }

  .map {
    height: 261px;
    width: 100%;
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }
}
