
footer {
  height: 296px;
  background-color: $dark-blue;
  color: $white;
  font-family: $font-two;
  font-size: $font-small;
  font-weight: 300;
  padding: 60px 0 60px 0;

  .social-icon {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }

  p {
    margin-top: 30px;
  }

  a {
    text-decoration: none;
    color: $white;
  }
}
